.menuContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 0rem 1rem;
}

.menuContainer div {
  background-color: #caf0f8;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.menuContainer div:nth-of-type(1) {
  background-color: #003566;
  color: #fff;
}

.menuContainer div:nth-of-type(2) {
  background-color: #344e41;
  color: #fff;
}

.menuContainer div:nth-of-type(3) {
  background-color: #e85d04;
  color: #fff;
}

.menuContainer div:nth-of-type(4) {
  background-color: #780000;
  color: #fff;
}

@media (max-width: 700px) {
  .menuContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 530px) {
  .menuContainer {
    display: flex;
    flex-direction: column;
  }
}
