.main {
  padding: 1rem;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
}

.main.loading {
  opacity: 0.3;
}

.main.loading button {
  background-color: #000;
}

.fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  background-image: linear-gradient(#003566, #780000);
  padding: 2rem;
  border-radius: 0.5rem;
  width: 23rem;
}

.eHeading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #f9f7f3;
}

.fieldset label {
  font-size: 1.2rem;
  padding-bottom: 0.3rem;
  color: #f9f7f3;
}

.fieldset input {
  border-radius: 0.5rem;
  padding: 0.6rem;
  cursor: pointer;
  border: none;
  background-color: #f9f7f3;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  font-weight: 500;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.fieldset textarea {
  border: none;
  outline: none;
  resize: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.flag {
  position: absolute;
  right: 0.5rem;
  top: 2.6rem;
  font-size: 1.7rem;
}

.controlBtnDiv {
  display: flex;
  margin: 1rem auto;
  width: 100%;
  justify-content: space-between;
}

.fieldset p {
  font-size: 1.1rem;
}
